.panel-height
{
    height: 41px;
}

.upload-margin
{
    margin-left:-15px;
}
.print-padding-list
{
    padding-left: 31px;
}
.print-date-size
{
    font-size: 12px;
}
.print-bottom-border
{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #ccc;
    padding: 3px;
}

.print-padding-lr
{
    padding-left: 3px;
    padding-right: 3px;
}
.list{

    margin: 0px;
    border-bottom-style: double;
    border-width: 0px;
    padding: 5px;
}
.professional-summary{
    padding:0px;
}
.error-label
{
    margin-left:25%;
}
.input-width-currency {
 
    width: 15%;
    
}
.input-width {
 
    width: 35%;
    
}
.result{

    margin: 0px;
    border-width: 0px;
    padding: 5px;
}
.btn.btn-xs {
    padding: 3px 12px;
    font-size: 11px;
}
.result-border{

    border-right:1px;
    border-right-style: solid;
    border-right-color: #ccc;
}
.form-list{

	   /* width: 100%;*/
    margin: 0px;
    border-width: 0px;
}

.list-col
{

	padding:5px;
}
.test{}
.logo-employers-alignment{

       margin-left: auto;
    margin-right: auto;
        align-items: center;
    display: flex;
    border-style: solid;
    width: 152px;
    height: 152px;
    text-align: center;
    border-width: 1px;
    border-color: #ddd;
}
.cover-employers-alignment{

       margin-left: auto;
    margin-right: auto;
     
    display: flex;
    border-style: solid;
    width: 350px;
    height: 81px;
    text-align: center;
    border-width: 1px;
    border-color: #ddd;
}
.photo-logo
{
    margin-top: -60px;
}
.photo-cover
{
            margin: -15px -15px -60px;
}


.company_name a {
    text-decoration: none;
    background-color: #777;
    color: #fff;
    padding: 2px 8px;
    margin-left: -8px;
}

.mb5 {
    margin-bottom: 5px!important;
}
.list-tags {
    list-style: none;
    padding-left: 0;
}
ol, ul {
    margin-bottom: 10px;
}
dl, ol, ul {
    margin-top: 0;
}
.list-tags li {
    padding: 2px 8px;
    margin: 0 2px 8px;
    border: 1px solid #e3e8eb;
    -webkit-border-radius: 2px!important;
    -moz-border-radius: 2px!important;
    border-radius: 2px!important;
    background-color: #777;
    color: #fff;
    display: inline-block;
}
.img {
        align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.table-grid.table-grid-bordered .row:last-child .cell {
    border-bottom: 1px solid #ddd;
}
.table-grid.table-grid-bordered .cell {
    border-left: 1px solid #ddd;
}
.table-grid .row {
    margin: 0;
}
.table-grid .row .cell {
    border-top: 1px solid #ddd;
    padding: 8px;
}
.mb20 {
    margin-bottom: 20px!important;
}
.hor.mbc {
    margin-bottom: 25px;
}
.table-grid.table-grid-bordered .cell {
    border-left: 1px solid #ddd;
}
.table-grid.table-grid-bordered {
    border-right: 1px solid #ddd;
}
.hor {
    height: 1px;
    width: 100%;
    background: #dadbde;
    margin: 30px 0;
}
.table-grid .row .cell.active{
    background-color: #f5f5f5;
}
.thumb
{
        width: 150px;
    height: 150px;
    display: flex;
    /* margin-left: auto; */
    /* margin-right: auto; */
    align-items: center;
}
#map{
    height:400px;
}

.ul-view-job
{
        margin-left: -40px;
    margin-right: -40px;
}

.pow{

        margin-right: -15px;
    margin-left: -15px
}
.pow1{

        margin-right: -9px;
    margin-left: -9px
}

.ans-padding-top
{
        padding-top: 20px;
}
.ans-margin-top
{
    margin-top: -15px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.media-list {
    padding-left: 0;
    list-style: none;
    list-style-type: none;
    list-style-position: initial;
    list-style-image: initial;
}
.latest-jobs-box
{
        padding: 21px;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
}