.panel-height
{
    height: 41px;
}
html,body{
    height: 100%

}
.navbar-nav>.active>.c>a, .navbar-default .navbar-nav>.active>.c>a:focus, .navbar-default .navbar-nav>.active>c>a:hover {
    color: #ec8000;
    background-color: #f7e5cf;
}
.appointment-cell-alignment
{
        text-align: center;
    
}
.tab-bg{
    background-color: #ec8000 !important;
    color: white !important;
    font-weight: bold !important;
}
.text-success {
    color: #009688!important;
}
.text-warning {
    color: #ff9800!important;
}
.appointment-cell-vertical-alignment
{
    vertical-align: middle !important;
}
#footer{
    background-color: #e7e7e7;
    bottom: 0;
    height: 50px;
    left: 0;
    position: absolute;
    right: 0;
}
#body {
    padding-bottom: 20px;
}
#holder {
    min-height: 100%;
    position:relative;
}
.upload-margin
{ 
    margin-left:-15px;
}
.print-padding-list
{
    padding-left: 31px;
}
.search-ul-padding
{
    padding: 0px;
}
.search-exp-text-box
{
    width:75px;
}
.search-li-padding-right
{
    padding-right: 0px;
}
.search-li-padding-left
{
    padding-left: 2px;
}
.box-search {
    
}
.box {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #E0E0E0;
    -webkit-border-radius: 3px!important;
    -moz-border-radius: 3px!important;
    border-radius: 3px!important;
    margin: 0 -10px 10px;
}
img {
    border: 0;
}
.mt0 {
    margin-top: 0!important;
}
.media, .media-body {
    overflow: hidden;
    zoom: 1;
}
.thumb-latest .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle !important;
}
.thumb-latest {
    text-align: center;
    display: flex;
    align-items: baseline;
}
.thumb-latest img {
       background: 0 0;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;

}
.thumb-latest-profile img {
       background: 0 0;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
    border-width: 1px;
    border-color: #ddd;
    border-collapse: collapse;
    border-style: solid;
}
img {
    border: 0;
}
.no-border-latest-jobs {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 0px solid #ddd !important;
}
.regions-font
{
    font-size: small;
    font-weight: bold;
}
.print-date-size
{
    font-size: 12px;
}
.table-top-padding
{
    margin-top: 6px;
}
.btn-toolbar-margin
{
    margin-right: 2px;
}
.btn-toolbar-color
{
    background-color: #e7e7e7;

}
.table-color
{
    background-color: #fff;

}
.btn-toolbar-padding
{
    padding: 5px;
}
.print-bottom-border
{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #ccc;
    padding: 3px;
}

.print-padding-lr
{
    padding-left: 3px;
    padding-right: 3px;
}
.list{

    margin: 0px;
    border-bottom-style: double;
    border-width: 0px;
    padding: 5px;
}
.professional-summary{
    padding:0px;
}
.error-label
{
    margin-left:25%;
}
.input-width-currency {
 
    width: 15%;
    
}
.input-width {
 
    width: 35%;
    
}
.result{

    margin: 0px;
    border-width: 0px;
    padding: 5px;
}
.btn.btn-xs {
    padding: 3px 12px;
    font-size: 11px;
}
.result-border{

    border-right:1px;
    border-right-style: solid;
    border-right-color: #ccc;
}
.form-list{

	   /* width: 100%;*/
    margin: 0px;
    border-width: 0px;
}

.list-col
{

	padding:5px;
}
.test{}
.logo-employers-alignment{

       margin-left: auto;
    margin-right: auto;
        align-items: center;
    display: flex;
    border-style: solid;
    width: 152px;
    height: 152px;
    text-align: center;
    border-width: 1px;
    border-color: #ddd;
}
.text-sm{
    font-size:11px;
}
.cover-employers-alignment{

       margin-left: auto;
    margin-right: auto;
     
    display: flex;
    border-style: solid;
    width: 350px;
    height: 81px;
    text-align: center;
    border-width: 1px;
    border-color: #ddd;
}
.photo-logo
{
    margin-top: -60px;
}
.photo-cover
{
            margin: -15px -15px -60px;
}


.company_name a {
    text-decoration: none;
    background-color: #777;
    color: #fff;
    padding: 2px 8px;
    margin-left: -8px;
}

.mb5 {
    margin-bottom: 5px!important;
}
.list-tags {
    list-style: none;
    padding-left: 0;
}
ol, ul {
    margin-bottom: 10px;
}
dl, ol, ul {
    margin-top: 0;
}
.list-tags li {
    padding: 2px 8px;
    margin: 0 2px 8px;
    border: 1px solid #e3e8eb;
    -webkit-border-radius: 2px!important;
    -moz-border-radius: 2px!important;
    border-radius: 2px!important;
    background-color: #777;
    color: #fff;
    display: inline-block;
}
.img {
        align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.table-grid.table-grid-bordered .row:last-child .cell {
    border-bottom: 1px solid #ddd;
}
.table-grid.table-grid-bordered .cell {
    border-left: 1px solid #ddd;
}
.table-grid .row {
    margin: 0;
}
.table-grid .row .cell {
    border-top: 1px solid #ddd;
    padding: 8px;
}
.mb20 {
    margin-bottom: 20px!important;
}
.hor.mbc {
    margin-bottom: 25px;
}
.table-grid.table-grid-bordered .cell {
    border-left: 1px solid #ddd;
}
.table-grid.table-grid-bordered {
    border-right: 1px solid #ddd;
}
.hor {
    height: 1px;
    width: 100%;
    background: #dadbde;
    margin: 30px 0;
}
.table-grid .row .cell.active{
    background-color: #f5f5f5;
}
.thumb
{
    width: 150px;
    height: 150px;
    display: flex;
    /* margin-left: auto; */
    /* margin-right: auto; */
    align-items: center;
}
#map{
    height:400px;
}

.ul-view-job
{
        margin-left: -40px;
    margin-right: -40px;
}

.pow{

        margin-right: -15px;
    margin-left: -15px
}
.pow1{

        margin-right: -9px;
    margin-left: -9px
}

.ans-padding-top
{
        padding-top: 20px;
}
.ans-margin-top
{
    margin-top: -15px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.media-list {
    padding-left: 0;
    list-style: none;
    list-style-type: none;
    list-style-position: initial;
    list-style-image: initial;
}
.latest-jobs-box
{
        padding: 21px;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
}
.benefits-font{
    font-size: 12px;
}
.benefits-checkbox-margin{
    margin-left: -34px;
}
.input-width-salary-min
{
    width:17%;
        margin-right: 10px;
}
.input-width-salary-max
{
    width:17%;
    margin-left:10px;
}

.multiselect-container > li > a { white-space: normal; }
.multiselect-container > li > a > label{
    white-space: normal !important;
}
.dropdown-menu {
max-height: 500px;
overflow-y: auto;
overflow-x: hidden;
}
.status-menu-item-padding{
        padding-bottom: 5px;
}

.status-menu-padding{
        padding-left: 0px;
        padding-right: 0px;
}

.time-font-small
{
    font-size: xx-small;

}
.conversation-msg{
    width: 100%;
    height: 100px !important;
}

.form-msg{
    background-color: #fff;
}

